{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="formulaire">

    <h1>{{'paniers.title'|trans}}</h1>

        <table class="table">
            <tr>
                <th>{{'paniers.name'|trans}}</th>
                <th>{{'paniers.price'|trans}}</th>
                <th>{{'paniers.quantity'|trans}}</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>

            {% for item in items %}
                <tr>
                    <td>{{ item.produit.nom }}</td>
                    <td>{{ item.produit.prix }}</td>
                    <td>{{ item.quantite }}</td>
                    <td>{{ item.produit.prix * item.quantite }}</td>
                    <td>
                        <a href="{{ path('app_panier_produit_remove', {'id': item.produit.id}) }}">{{'paniers.buttonthree'|trans}}</a>
                    </td>
                </tr>
            {% else %}
                <p>{{'paniers.message'|trans}}</p>
            {% endfor %}
        </table>
        
        {% if total > 0 %}
            <h2>Total: {{ total }}€</h2>
            <div class="buttons_admin">
                <button><a href="{{ path('app_contenu_commande_show') }}" class="btn">{{'paniers.buttonone'|trans}}</a></button>
                <button><a href="{{ path('app_panier_remove') }}" class="btn">{{'paniers.buttontwo'|trans}}</a></button>
            </div>
        {% endif %}
        <a href="{{ path('app_produit_index') }}">{{'return.message'|trans}}</a>
</div>

{% endblock %}
