{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class='formulaire'>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                <p>{{'log.messageone'|trans}} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{'log.messagetwo'|trans}}</a><p>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{{'log.title'|trans}}</h1>
        <label for="inputEmail">{{'log.mail'|trans}}</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">{{'log.password'|trans}}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            {{'log.button'|trans}}
        </button>

        <a href="{{ path('app_register')}}">{{'log.lienIns'|trans}}</a>

    </form>
</div>
{% endblock %}
