{% extends 'base.html.twig' %}

{% block title %}FicheProduit{% endblock %}

{% block body %}
    <div class="formulaire"> 
        <h1>{{'produits.titlethree'|trans}}</h1>

        <div class="ficheproduit">
            <img class= "FicheProduit_img" src="{{ asset('uploads/images/' ~produit.photo) }}">
            <div class="FicheProduit_text">
                <h2>{{ produit.nom }}</h2>
                <p class="description">{{ produit.description }}</p>
                <p class="price">{{ produit.prix }}€</p>
                {% if app.user %}
                    <button><a href="{{ path('app_panier_add', {'id':produit.id})}}" class='btn'>{{'produits.buttonfive'|trans}}</a></button>
                {% else %}
                    <button><a href="{{ path('app_login') }}" class="btn">{{'produits.buttonsix'|trans}}</a></button>
                {% endif %}
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
            <div class="buttons_admin">
                <button><a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn">{{'produits.buttontwo'|trans}}</a></button>
                {{ include('produit/_delete_form.html.twig') }}
            </div>
        {% endif %}

        <a href="{{ path('app_accueil') }}">{{'return.messagetwo'|trans}}</a>

            
    </div>
{% endblock %}
