{% extends 'base.html.twig' %}

{% block title %}Plant'Edia{% endblock %}

{% block body %}
    <div class='accueil'>
        <h1>{{ 'home.title'|trans }}</h1>
        <div class='all_produits'>
            {% for produit in produits %}
                <div class='OneProduit'>
                    <img class= "OneProduit_img" src="{{ asset('uploads/images/' ~produit.photo) }}">
                    <div class='OneProduit_text'>
                        <h2>{{ produit.nom }}</h2>
                        <p>{{ produit.description|split(' ')|slice(0, 10)|join(' ') }}..</p>
                        <div class="price_button"> 
                            <h3>{{ produit.prix }}€</h3>
                            <button><a href="{{path('app_produit_show', {'id': produit.id })}}" class="btn">{{ 'home.fiche'|trans }}</a></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
            <button><a href="{{ path('app_produit_new') }}" class="btn">{{ 'home.button'|trans }}</a></button>
        {% endif %}

    </div>
{% endblock %}
